[2018-08-07 17:00] ahmetb opened #15 "CI/CD tooling to verify manifests"
We should have a way of doing some sanity checks on the plugin files to prevent:

- the entire index from breaking due to bad yaml
- bad links/sha (at the time of merging the PR)

Perhaps we can find the changed yaml files and do `krew install --source=$f` to verify installation.

[2018-08-20 18:59] ahmetb commented on #15
A brief proposal (in an issue) would be nice as opposed to an initial implementation. I suspect we should host this in main krew repo (in cmd/*).

[2018-10-16 20:51] lbb opened #26 "Some plugins are missing the arch labels"
Some plugins are not a bash script and missing the `arch: amd64` label:
* `view-serviceaccount-kubeconfig`
* `rbac-lookup`
* `kubectl-open-svc-plugin`

[2018-10-17 17:58] #26 closed

[2019-01-07 22:57] jordanwilson230 opened #43 "Allow multiple plugin names with unique suffix"
I've got about 5 minutes before I must leave work here, so I apologize for my scattered-brained writing!  ha. Basically, the kubectl plugin docs subtly hint at using a naming strategy starting with a common base and ending with a unique suffix.  So for example, I have the following plugins which I'm trying to port over:
[code]

I believe kubectl's intention was to promote smaller, distinct/isolate

[2019-01-08 05:48] ahmetb commented on #43
If there things are indeed separate plugins doing separate things, they should be packaged and installed separately. If they are just subcommands, you should have a single entrypoint.

If you have a single executable named `kubectl-prompt`, any subcommands specified will be passed to that executable as command line arguments (argv).

Similarly, if they are subcommands implemented as separate execu

[2019-01-08 05:49] ahmetb commented on #43
(Also please consider opening issues that aren't related to the plugin index repo to the main repo https://github.com/GoogleContainerTools/krew.)

[2019-01-08 05:49] #43 closed

[2019-01-08 06:32] jordanwilson230 commented on #43
Sure thing @ahmetb. Just to clarify, this is a concept that I understand well, but needed to clarificy whether krew accomodates this. As it states:

[The design proposed](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/#invocation-of-the-longest-executable-filename)

I understand now that krew does not accommodate for this, so thanks for the answer.

Noted on using the krew repo fo

[2019-01-08 08:45] ahmetb commented on #43
Makes sense, I'm open to a proposal on Krew repo, if you can put it in writing other developers who agree can participate as well.

[2019-01-08 17:59] ahmetb commented on #43
cc: @juanvallejo

I would not worry about the landrush for now, although we're enforcing it for really common nouns/verbs.

I think we'll be solving this by decentralizing the plugin index going forward. For example, if we allow you to install plugins with repo names like `krew install jordanwilson230/kubectl-prompt`, this would be a problem only for the users trying to install multiple plugins wi

[2019-01-09 20:04] jordanwilson230 opened #47 "Checksum mismatch: exec-all"
Failed installing ```exec-all```.  See the below output.  Seems the plugin checksum needs updating:

[code]

[2019-01-09 21:54] ahmetb commented on #47
Thanks for reporting.

Related: #15. We need tooling to check whether all platforms provided in the modified manifests are installable.

[2019-01-10 22:28] jordanwilson230 opened #48 "Error when running sniff plugin"
After installing via krew and running it via ```kubectl sniff kafka-0``` I get the following output:

[code]
Tried numerous options, flags, etc., but everything returns the same error.
Note: Installing to Mac, darwin.  tcpdump is installed. wireshark installed.

[2019-01-11 15:09] jordanwilson230 commented on #48
Maintainer is aware of the issue and cut a new release for a fix.  Issue is being tracked in the reference link above.

[2019-01-11 15:11] jordanwilson230 commented on #48
Also, sorry for opening the issue here instead of the main Krew repo. I've just been on this page so long the past few days, ha.

[2019-01-11 17:34] ahmetb commented on #48
Haha no problem. I will close it here.

[2019-01-11 17:34] #48 closed

[2019-01-14 17:36] #47 closed

[2019-03-12 03:32] superbrothers opened #92 "Add homepage for plugin manifests"
This is an umbrella issue that adds homepage for plugin manifests.

- [x] access-matrix
- [x] bulk-action
- [x] ca-cert
- [x] change-ns
- [x] cssh
- [x] debug-shell
- [x] exec-all
- [x] exec-as
- [x] get-all
- [x] gke-credentials
- [x] krew
- [x] kubesec-scan
- [x] match-name
- [x] mtail
- [x] node-admin
- [x] open-svc
- [x] pod-logs
- [x] pod-shell
- [x] prompt
- [x] rbac-lookup
- [x] rbac-view
-

[2019-03-12 04:44] jordanwilson230 commented on #92
@superbrothers i have```exec-as``` posted [here](https://github.com/jordanwilson230/kubectl-plugins#kubectl-ssh) as ```kubectl ssh```. If you'd like, I'll try to add a README specific for the Krew plugins (prompt and exec-as). tomorrow.

[2019-03-12 19:23] jordanwilson230 commented on #92
@superbrothers @ahmetb Here is an updated homepage link for [exec-as](https://github.com/jordanwilson230/kubectl-plugins/tree/krew#kubectl-exec-as) and [prompt](https://github.com/jordanwilson230/kubectl-plugins/tree/krew#kubectl-prompt).

Let me know if you see anything missing.

[2019-03-13 00:18] superbrothers commented on #92
@jordanwilson230 Could you update your plugin manifests to add/update homepage?

[2019-03-13 14:09] jordanwilson230 commented on #92
Sure thing, @superbrothers.  I'll send a PR over to you in just a bit.

[2019-03-14 21:05] ahmetb commented on #92
I think this is done now?

[2019-03-15 00:09] jordanwilson230 commented on #92
@ahmetb yeah, https://github.com/GoogleContainerTools/krew-index/pull/113

[2019-03-15 01:13] ahmetb commented on #92
Thanks all!

[2019-03-15 01:13] #92 closed

[2019-04-05 15:19] jordanwilson230 opened #130 "Broken links in README"
Just a minor issue in the README.  I noticed most of the links lead to a 404 page.  The link in this line:

```This is the Plugin Index Repository for krew kubectl plugin manager.```,

for example, is just a typo.  It looks like it's pointing to github.com/kuberntes-sigs/krew instead of github.com/kubernetes-sigs/krew.

[2019-04-05 22:17] jordanwilson230 commented on #130
Btw, congrats on Krew @ahmetb!

[2019-04-18 04:08] #130 closed

[2019-06-07 14:19] redno2 opened #159 "failed to download and verify file"
The checksum does't work, the verify failed

./kubectl krew install oidc-login
Updated the local copy of plugin index.
Installing plugin: oidc-login
W0607 15:43:06.730882   31022 install.go:132] failed to install plugin "oidc-login": failed to dowload and move during installation: failed to download and verify file: checksum does not match, want: 5a4c02dc2527f20ba55f7a0751628d009d5e9a3a5e0efd1d010

[2019-06-07 17:46] ahmetb commented on #159
I am not able to repro this on my macOS:

   KREW_OS=linux KREW_ARCH=amd64 kubectl krew install oidc-login -v=0

[code]

In your case it says `Read 3635 bytes of download data into memory`.

Looks like you're served a different page on the URL (somehow)? Is this reproducible? Can you go to `https://github.com/int128/kubelogin/releases/download/v1.12.0/kubelogin_linux_amd64.zip` and see what it is?

[2019-06-11 13:40] redno2 commented on #159
I'm on ubuntu.

Distributor ID: Ubuntu
Description:    Ubuntu 18.10
Release:        18.10
Codename:       cosmic

If I download via curl the hash is matching:
$curl -OL https://github.com/int128/kubelogin/releases/download/v1.12.0/kubelogin_linux_amd64.zip
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent

[2019-06-11 15:21] ahmetb commented on #159
Is this reproducibly failing? How many bytes downloaded does the logs say?

[2019-06-13 12:34] redno2 commented on #159
Mhh super weird, usually is failing to install but sometime it's worked..
I tried it inside a lxc with a fresh config, I'm behind a corporate proxy.
Tried 3 time and the 4th it worked, and at each time the hash is different.. I suspect the redirect url is pointing to an old version of the release !?

root@kubectl:/tmp# kubectl krew install rbac-lookup
Updated the local copy of plugin index.
Instal

[2019-06-13 16:37] redno2 commented on #159
I'll doing tests outside our network just to be sure..

[2019-06-13 16:45] ahmetb commented on #159
I tried downloading https://github.com/reactiveops/rbac-lookup/releases/download/v0.3.0/rbac-lookup_0.3.0_Linux_x86_64.tar.gz multiple times, and it seems like I get consistent checksum listed in the plugin manifest:

[code]

I suspect your network proxy does something rather interesting. Since the URL is HTTPS, I am thinking your corp proxy has CA certs installed your machine to intercept your tr

[2019-06-27 21:51] corneliusweig commented on #159
Hi @redno2, have you had a chance to perform some download tests outside of your corporate firewall?

[2019-06-27 21:54] ahmetb commented on #159
/close
due to inactivity.
I suspect it's not a krew issue.

[2019-06-27 21:54] #159 closed

[2019-06-28 06:55] redno2 commented on #159
Hi, sorry for the delay. Yes it was a misconfiguration with our internal proxy.
Thank you.

[2019-07-15 19:17] corneliusweig opened #179 "Overview page for plugins"
Currently, there is no web-compatible way to show a nicely formatted list of plugins in `krew-index`.

@ahmetb Suggested to have a markdown page with a list of plugins to fill that gap. This page has to be generated by a script. At the bare minimum, this `plugins.md` overview should show a table of plugin names + shortDescription. It would be nice to also show additional information, such as githu

[2019-07-15 19:20] corneliusweig commented on #179
I think that such a script quickly becomes un-maintainable when implemented in shell. Since `krew` is also written in go, I'd suggest to implement the script as a small `go run` script.

[2019-07-15 19:23] ahmetb commented on #179
Likely the tool would live in `krew` repo (like `validate-krew-manifest`) so I recommend transferring the issue there.

[2019-07-15 19:34] corneliusweig commented on #179
Do you want to keep `krew-index` free of code/logic? Otherwise, I would see the generator more in this repo.

[2019-07-15 19:37] ahmetb commented on #179
Yeah, since we ship this repo to every krew user's computer I'd love to keep it minimal.

[2019-07-15 19:39] corneliusweig commented on #179
Yeah, right :man_facepalming:

[2019-07-15 19:39] #179 closed

[2019-08-19 23:25] ahmetb opened #209 "Installing plugins broken on windows"
(had to use  https://storage.googleapis.com/kubernetes-release/release/v1.17.0-alpha.0/bin/windows/amd64/kubectl.exe to be able to execute plugins)

It looks like plugins can't be installed on windows. It seems like while moving the files, there's an open file handle.

[code]

however this is not always reproducible, on another plugin, it fails because I am running on a cmd.exe without Administrat

[2019-09-02 17:42] etopeter opened #228 "How to install plugin that have 2 words in name to preserve spaces?"
I'm maintaining plugin kubectl-view-utilization. Upon installation it renames binary `kubectl-view-utilization` to `kubectl-view_utilization`.
By naming convention kubectl recognizes `-` and `_` and allows to use spaces between commands if `-` is used. Why krew is renaming binary and how to change this behavior?

[2019-09-02 18:25] corneliusweig commented on #228
This is not possible with krew, see https://github.com/kubernetes-sigs/krew/blob/master/docs/DEVELOPER_GUIDE.md#specifying-plugin-executable.

I think the reason why we want to avoid this is to not interfere with builtin commands. For example, a plugin could be called `kubectl-get-pods`, but it would not be called when running `kubectl get pods` (the builtin command is run instead).

[2019-09-02 18:34] ahmetb commented on #228
An executable named kubectl-a-b would mean it’s invocable both as:
- kubectl a b
- kubectl a-b

The underscore leaves no room for ambiguity. And we want plugin name to match the invocation.

[2019-09-02 21:53] etopeter commented on #228
Thank you for taking time to explain that. It does make sense. I think aliases are the only option to make long plugin names with hyphens more user friendly.

[2019-09-02 21:54] #228 closed

[2019-09-03 18:16] ahmetb opened #233 "Auto-accept version bumps for plugins"
Currently, most PRs in krew-index require no manual review as they just bump the version of a plugin.

We need a bot to look at the PRs, note that only `url`/`sha256`/`version` fields are changed and:
- `spec.version` moved forward
- only version part in the `url` has changed and that's the same as spec.version.

In the long run, we can automatically create a batch PR to bump up the plugin version

[2019-09-04 05:22] ahmetb commented on #233
Heads-up @corneliusweig I'm enabling auto bump checks on this repo. It might be annoying, in that case ping me and I'll close.

[2019-09-04 05:25] ahmetb commented on #233
The source code I used can be found at https://github.com/ahmetb/krew-index-autoapprove .

[2019-09-09 23:19] ahmetb opened #240 "Clean up plugins specifying 'head'"
Since v0.3.0 removes support for --HEAD installation option, this field should
be removed after users move to v0.3.0.

[2019-09-28 09:39] #240 closed

[2019-10-10 01:36] rajatjindal opened #270 "make version bump easier for plugin maintainers"
This issue is to continue discussion on using krew-plugin-release (or alternate) for auto-bumping the version in krew-index on a new release.

the original discussion can be found here: https://github.com/kubernetes-sigs/krew-index/pull/267

[2019-10-10 05:52] rajatjindal commented on #270
so options that we have considered to far are:

1. move krew-plugin-release ownership to krew team
2. implement a bot user `krew-plugin-release-bot', which listens for events and submit PR's on behalf of user. (but fork of krew-index is done/owned by the bot, so enduser do not have to give fork/commit permissions to the github action)
3. May be a webservice owned/managed by krew team that listens

[2019-10-10 17:03] rajatjindal commented on #270
The concern Chris had was if owner of krew-plugin-release turns out to be malicious, the token is quite powerful to cause damage. (which is a valid concern in my opinion).

that works too 👍

if we have a place to host a webservice, it might be easier and more efficient to do it based on a push notification.

[2019-10-14 23:07] ahmetb commented on #270
So let's call "daily scanning of source repos for new stable releases" option 1.

Option 2: Write a public webhook that receives "tag" events from plugin repositories (plugin author must configure). When a valid event is received, the webhook would find the which plugin(s) are associated with that repo, and use a simple string replacement to prepare a patch. The patch then is sent by a "bot accoun

[2019-10-17 19:30] grzesuav commented on #270
I just copy my previous comment:
There is a general purpose tool for that, which is pretty extensible : https://github.com/renovatebot/renovate/
I would suggest to try to extend it. I do not know in details how it work, but generally there are two parts to write :

provider - some source of artifacts and versions
detector - part which scans for file patterns (like plugin files) and is able to extr

[2019-10-17 20:45] ahmetb commented on #270
@grzesuav the fact that it's written in JS/TS is going to be a productivity blocker. I don't know if we (as Krew/k8s maintainer ecosystem) can maintain something like this. For me personally, it'll be an uphill battle.

If you have any expertise with it, we'd love to have you present it at a SIG meeting or something like that. I've scanned their docs and it's unclear to me where the "provider" and

[2019-10-22 19:56] grzesuav commented on #270
@ahmetb the idea is that you do not need - you just add renovate bot access to your repository and configure it. I can make an issue report  there to assess how difficult would be to add support to krew specific plugin files.

[2019-10-22 20:23] ahmetb commented on #270
@grzesuav if you can follow up on that, that would be great.
There's a bit of hesitation to give additional bots access in repositories, if it can operate on OSS repos through PRs that would be much better.
In addition, we've heard from plugin developers that they don't want to give additional bots/apps access (to make a krew PR when there's a new tag etc).

[2019-10-23 00:20] ahmetb opened #289 "Proposal: rename 'debug' to 'debug-pod'"
The current `debug` plugin’s name was discussed in #248, but I was not aware that @aylei's https://github.com/aylei/kubectl-debug plugin was already very popular.

We assigned the name `debug` to @verb's experimental plugin in #248 because that has a supporting KEP (and therefore a path to be an official subcommand).

However, at the same time, we assign submitted plugins with their original name

[2019-10-23 13:02] verb commented on #289
SGTM. I'll wait for @aylei to respond before renaming.

[2019-10-23 20:27] corneliusweig commented on #289
After today's SIG CLI meeting I'm somewhat in favor of keeping the current name, despite @aylei's plugin having more users. @verb's KEP (https://github.com/kubernetes/enhancements/pull/1204) has received good feedback and has good chances to make it into vanilla kubectl.
When this becomes a mainline kubectl sub-command, users will silently switch over from whatever is currently `kubectl-debug`. If

[2019-10-24 03:28] ahmetb commented on #289
Yes, since there's now a pseudo-agreement in SIG CLI (ref: today's meeting) to merge these two plugins (1) and offer a builtin `kubectl debug`, I think we can keep it as is.

(1) my understanding is that verb's plugin uses ephemeral pods, and aylei’s plugin uses launching a new pod in shared namespaces.

[2019-11-02 13:34] grzesuav commented on #270
Asked on their issue tracker : https://github.com/renovatebot/renovate/issues/4769

@ahmetb usual flow is that you give renovate bot developer access to repository (example : https://gitlab.com/grzesuav/kubectl-mtail/-/project_members) and then it watches for version updates and propose a PR : https://gitlab.com/grzesuav/kubectl-mtail/merge_requests/20/

[2019-11-04 03:57] ahmetb commented on #270
Yeah I don’t think that’s going to work well for us each repo owner needs to install it. Instead we can scrape all repos and daily/hourly create PRs automatically to bump.

[2019-11-04 03:57] ahmetb commented on #270
Thanks for investigating though. Really appreciate it.

[2019-11-04 19:37] grzesuav commented on #270
@ahmetb but the repo owner do not need to install it. It would be needed only in this repository. I shown you my example, when I use it to bump version of docker images used in my gitlab-ci. The renovate scans various places (dockerhub, maven repo, npm repo) detects new version and proposes a upgrade.

[2019-11-05 18:57] ahmetb commented on #270
Ahha, sorry I got confused heavily by GitLab's UI.
This sounds doable, though it would be really good if it required no access at all so we could directly enable it. It seems like I'd have to get permission from SIG CLI to install this to our org. Do you know for their GitHub integration it's a read-only permission or RW?

[2019-11-05 19:09] grzesuav commented on #270
https://docs.renovatebot.com/data-security/#github-permissions

[2019-11-05 19:10] grzesuav commented on #270
it seems write permissions are needed, but they mention https://github.com/apps/forking-renovate which need only read permissions

[2019-11-05 19:26] ahmetb commented on #270
Thanks. I'm nearly sure write permissions won't fly in this org. That's why Forking Renovate sounds promising. If it's ready for use, and you have some familiarity with JS, it's worth prototyping. I can't personally write JS beyond jquery. :)

Another concern would be that the project is backed by a commercial entity, so a solution that we write ourselves here has a chance of outliving the tool.

[2019-11-05 20:11] grzesuav commented on #270
1. I not JS programmer either, but I believe with help of someone more familiar with renovate  I can give a try, no promises though. Anyway I think approach in generalized form (not focusing on krew yamls, jut making it customizable) is a nice feature and probably will be useful also for others.

2. I believe that then someone else will fork the project. It is really good and widely used, with no

[2019-11-10 13:21] corneliusweig commented on #289
ping @aylei
What are your thoughts about the `kubectl-debug` plugin naming in krew?

[2019-11-10 13:25] corneliusweig commented on #233
I think the auto-approver has proven it's usefulness and stability quite well.

@ahmetb Are you still planning to use a different Github account for this? Otherwise, I think you can close this.

[2019-11-10 14:07] corneliusweig opened #310 "Plugins are distributed without a license file"
I realized that no plugin that I'm aware of actually installs a license file. That seems to violate the conditions of may licenses, for example the Apache license which states under 4.c)

          that You distribute, all copyright, patent, trademark, and
          attribution notices from the Source form of the Work,
          excluding those notices that do not pertain to any part of

[2019-11-10 14:33] aylei commented on #289
@corneliusweig @ahmetb
Sorry for missing the earlier threads, I prefer keeping the current `kubectl-debug` naming.

@corneliusweig 's opinion about the similarity in behavior before/after the mainline merges the debug implementation is exactly what I thought. My "kubectl-debug" still does not support CRI besides docker yet and is better to be considered as an alternative for old versions of kubern

[2019-11-10 17:00] ahmetb commented on #233
Lets keep this open maybe we can add the tool here as a cmd somehow.

[2019-11-10 21:47] ahmetb commented on #310
Excellent point, I think you're right we should fix this.

To be precise, this is a "distribution" problem and not a problem with "krew" itself, at best, it's a krew-index issue.

Technically we could do this ourselves easily. It's not a bad idea.
Similarly we'd need to make it part of our review procedure for krew-index.

I think a new `license` field is not going to be the best idea. We actually

[2019-11-10 21:47] ahmetb commented on #233
/hold

[2019-11-10 21:48] ahmetb commented on #289
Thanks for the update.

Let's keep the plugins as is. @aylei if you're still interested in distributing via Krew, we're open to it!

Otherwise we'll wait until the day `debug` becomes a builtin kubectl command that automatically shadows any exiting plugin.

/close

[2019-11-10 21:48] #289 closed

[2019-11-10 21:53] ahmetb commented on #310
It indeed seems like Brew is automatically copying out these files:
https://rubydoc.brew.sh/Metafiles.html
I can't easily read ruby code, but my guess is it's only picking these from the repository root, but in our case there's no such concept.
For example, in tag tarballs provided by GitHub (imagine bash plugins), the root level dir is technically 1-level nested, like `kubectx-v0.7.1/LICENSE`.

[2019-11-11 23:56] corneliusweig commented on #310
I agree that this is mainly a krew-index problem. But it might need support from `krew` as well.

I'm not so sure about this. Doesn't this mean that we need to include the correct license file in every plugin bundle? Only repo owners have the right to do that though. And it will take a lot of back-and-forth until all plugins comply.

---

For that reason, I think a new `license` field in the manif

[2019-11-12 00:08] ahmetb commented on #310
Precisely, we need to get ahead of the growth here.
I feel like there will be some manual work involved. We should probably open a mega issue with all plugins and keep track of the fixes very soon.

Yeah but LICENSE file is not really special. Similarly, they might have multiple licenses, dependency licenses, other files like {changelogs,authors}.txt that they might need to ship. I recommend we do

[2019-11-12 08:04] corneliusweig commented on #310
Ok, I get your point.

In that case, it looks like we could save our plugin authors some manual hassle if we go with the automatic copying option. If I'm not missing out anything, then this is our roadmap:

* When installing new plugins, search for the license file by name and copy that out into `$KREW_HOME/store`. When no license can be found, the install should fail.
* Make sure that a license f

[2019-11-13 00:14] corneliusweig commented on #310
I created a sheet to track the plugin license status: https://docs.google.com/spreadsheets/d/1Q3enNf61muuVQw6eWLsMTfZJ67tbEpedKAH94MjbBjI/edit?usp=sharing

If you think the above plan sounds good, I'll create a few issues tomorrow.

[2019-11-13 00:45] corneliusweig commented on #310
Oh, it's much better than I had anticipated. Exactly one half of plugins already contain a license file. There are `LICENSE.md`, `LICENSE`, and `LICENSE.txt`.

[2019-11-13 01:05] ahmetb commented on #310
I assume on that spreadsheet "included" means, it exists in the repo, right?

[2019-11-13 17:26] corneliusweig commented on #310
@ahmetb Yes, that's correct.

[2019-11-14 23:46] corneliusweig commented on #310
As discussed offline, we are going to handle this purely on krew-index side. This means that all plugins manifests must manually copy out their license file.

For those that already contain a license, we can do this without bothering the plugin authors. For all remaining ones, I opened an issue.

[2019-11-15 04:05] ahmetb commented on #310
/priority important-soon

[2019-11-15 09:37] corneliusweig commented on #310
For the plugins that have a license in their archive but don't install the license, I opened the following PRs:

- Install license for `restart` (https://github.com/kubernetes-sigs/krew-index/pull/339)
- Install license for `who-can` (https://github.com/kubernetes-sigs/krew-index/pull/338)
- Install license for `config-cleanup` (https://github.com/kubernetes-sigs/krew-index/pull/337)
- Install lic

[2019-11-15 20:54] ahmetb commented on #310
Thanks @corneliusweig. I've bulk merged them by applying lgtm label manually.

[2019-11-15 20:54] ahmetb commented on #310
For the remaining, feel free to add a `- [ ] checklist` list to your original issue message (or open a new issue for tracking what's left)

[2019-11-15 23:30] corneliusweig opened #341 "Umbrella issue to for adding LICENSE files"
This is an umbrella issue to track which plugins still need to include a license file in their archive. These licenses need to be added upstream in the plugin repositories.

Also see #310 and https://docs.google.com/spreadsheets/d/1Q3enNf61muuVQw6eWLsMTfZJ67tbEpedKAH94MjbBjI/edit?usp=sharing for further details.

- [ ] [passman](https://github.com/chrisns/kubectl-passman) -- tracking PR https://gi

[2019-11-15 23:32] corneliusweig commented on #310
Follow-up issue is #341

[2019-11-15 23:32] #310 closed

[2019-11-19 18:08] jordanwilson230 commented on #341
@corneliusweig https://github.com/kubernetes-sigs/krew-index/pull/348 takes care of the ```exec-as``` and ```prompt``` plugins.

[2019-11-19 18:42] ahmetb opened #349 "Bring plugins from awesome-kubectl-plugins to krew"
I just discovered https://github.com/ishantanu/awesome-kubectl-plugins which lists a lot of good kubectl plugins that aren't hosted on Krew.

It would be good if we can open issues there to make the plugins developers out there aware of krew. This is something that we've done in the past and it helps foster the plugin ecosystem. It's a win-win for both plugin devs and krew.

/cc @corneliusweig
/cc

[2019-11-19 22:44] corneliusweig commented on #349
I opened issues in all the repos that could make sense to bring in. If I missed anything here, please let me know

- [ ] https://github.com/brosandilabs/kubectl-tmux-logs/issues/4
- [ ] https://github.com/kvaps/kubectl-enter/issues/2
- [ ] https://github.com/auth0/k8s-pixy-auth/issues/22
- [ ] https://github.com/bouk/kubectl-dashboard/issues/1
- [ ] https://github.com/makocchi-git/kubectl-free/iss

[2019-11-27 14:34] markzhang0928 commented on #289
@aylei give me a ride.. 😁

[2019-11-30 21:52] corneliusweig opened #367 "Remove usage and homepage from `caveats` section"
Many plugin manifests include usage information and links to the plugin homepage in their `caveats` section. To make this more uniform, `krew` now prints this information by default after plugin installs (https://github.com/kubernetes-sigs/krew/issues/402). This change will be part of next krew release (>v0.3.2).

After releasing the next krew version, we should remove this obsolete information fr

[2019-12-01 01:02] ahmetb opened #370 "Validate manifest files have .yaml extension"
Caused PROD breakage for all clients installed krew after a file with
.yml extension (instead of .yaml) was merged.
https://github.com/kubernetes-sigs/krew/issues/411

/kind bug
/priority P1

[2019-12-01 01:25] ahmetb commented on #370
cmd/validate-krew-manifest clearly has this test case:

[code]

...but it seems like from #369 that we don't pass non-.yaml files to the tool. :|

[2019-12-01 01:31] #370 closed

[2019-12-03 04:03] rajatjindal opened #374 "consider krew-release-bot webhook for version bumps"
continuing from discussions in #270 and #371, opening this ticket to identify next steps for krew-release-bot

Questions that needs to be answered are:

- [ ] where should the webhook listener run and where should we store the container images for the same.
- [ ] what domain should be used for webhook listener. currently it uses subdomain of my personal domain
- [ ] where should be the code reposi

[2019-12-03 22:00] ahmetb commented on #374
We have a Google Cloud Platform project that we've been operating for various *.krew.dev endpoints and stats collection etc . We can deploy it to there.

Maybe we can put something like release-webhook.krew.dev to use for this, fairly easy to do, once deployed to Cloud Run. The krew.dev is currently owned by me, but it should be fairly easy to add other maintainers to it.

We'd most probably keep

[2019-12-04 15:00] rajatjindal commented on #374
sounds good to me. For docker image, can we setup automated builds? I've done automated builds for docker hub, but not for gcr.io. can you please help with that.

Also I am happy to add you as collaborator there, just in case you need to push something to that repo while I am not available. (please let me know if that is ok).

We should have both the secrets. One thing that was worrying me was wha

[2019-12-04 20:46] ahmetb commented on #374
Yeah don't worry about setting CI/CD up. For now, run it in your account with your plugins. Let's pilot it for a few months and we can take over?

[2019-12-05 01:59] rajatjindal commented on #374
sure. just so that I ensure i understood you correctly. For now we will keep everything (including docker image, cloud-run, webhook) in my account, and later we can decide to move to krew?

[2019-12-05 02:01] ahmetb commented on #374
Yeah. Let's pilot it for a while. I'll add it to some of my plugins, Cornelius can do the same. And we'll refine the developer experience over time, make sure repo has docs, it works properly etc. Hope that's good.

[2019-12-05 02:05] rajatjindal commented on #374
sure. sounds good to me. :)

[2019-12-17 21:53] ahmetb opened #390 "virt.yaml checksum mismatch"
install failing

since this passed our validation in #377 (https://travis-ci.org/kubernetes-sigs/krew-index/builds/620189954?utm_source=github_status&utm_medium=notification) I have suspicion that the release asset was updated after it's released.

cc: @dhiller

[2019-12-19 10:16] eisraeli commented on #390
Hi guys,
I'm experiencing the same issue.
Checksum does not match.

`$ kubectl krew install virt`

Resulting in:
[code]

[2019-12-19 13:09] eisraeli opened #394 ""kubectl krew search" too verbose"
Realized it should probably go here:
https://github.com/kubernetes-sigs/krew/issues/440

[2019-12-19 13:14] #394 closed

[2019-12-19 16:09] #390 closed

[2019-12-22 23:18] ahmetb commented on #374
@rajatjindal how’s it going? Did you make any progress? Do you mind writing a small guide for using it? I might start using this soon on a plugin that I am working on.

[2019-12-23 08:43] rajatjindal commented on #374
Hey @ahmetb , this is up and running. Please refer to this PR i opened for a different plugin: https://github.com/robscott/kube-capacity/pull/23

If you run into any issues with this, please let me know.

[2019-12-24 00:17] ahmetb commented on #374
@rajatjindal My understanding is that this should not be a GitHub action ideally. We can just add a simple webhook that captures tag/release events.

Is GitHub Actions a better approach? I'm trying this on my new plugin at https://github.com/ahmetb/kubectl-tree now.

[2019-12-24 00:23] ahmetb commented on #374
I'm also trying to compare GitHub Actions vs GitHub Apps. It seems like GitHub Apps aren't going to be around in the long term, possibly.

[2019-12-24 02:26] rajatjindal commented on #374
hey Ahmet,

this is not a github action anymore, and is a github app. My understanding is that thats how you configure webhooks? I am not sure of the alternate way, if you can please point me to that, I can try that out for sure.

personally I think github apps will stay here as they provide more granular control (and not replaced by github actions). but even if they do, we can write an action to

[2019-12-24 03:28] ahmetb commented on #374
Yeah github apps will stay.

But go to repo Settings → Webhooks. There are webhooks for sure. It just involves pasting an URL and choosing which events you want.

I like “Apps” experience but right now it’s too opaque. I can’t see logs, I can’t see progress, but it actually could allow us to change the underlying endpoint and where it’s hosted.

[2020-01-08 05:21] rajatjindal opened #416 "Gauging interest for a thin UI layer on krew plugin list"
During holidays, I created a thin UI on top of list of plugins we have in krew-index repo. I wanted to gauge interest of this in the community.

https://rajatjindal.com/krew

Thanks
Rajat Jindal

[2020-01-08 05:41] ahmetb commented on #416
I am currently -1 because

1. it doesn’t significantly improve the experience and it’s yet another thing to maintain.

2. We should probably solve categorizing or tagging plugins first. https://github.com/kubernetes-sigs/krew/issues/406

Also it would be great if you make sure to exclude that page from search indexes with robots.txt, we don’t want to have two sources of truth. 😬

/kind proposal

[2020-01-08 13:14] rajatjindal commented on #416
the data is dynamic and fetched from krew-index repo. But I get it if we do not want the cost of maintenance.

[2020-01-08 20:07] ahmetb commented on #416
It might be a little early, but let's keep it open.

[2020-01-09 21:10] corneliusweig commented on #416
I guess the data is pre-processed and cached here? https://tools-api.rajatjindal.com/krew

At the moment, the page doesn't really add anything which could not be done with `Ctrl+F` on our plugins overview. I also don't see a relevant use-case how we can help our users better to find the plugins they need with this tool. As Ahmet already said, our focus should be to improve the core `krew` features

[2020-01-09 22:47] corneliusweig commented on #374
I didn't follow closely, but the latest state is that the automated PR is done via a GH action, right?

@rajatjindal Is your documentation on the bot's homepage still up-to-date? I wonder if it is really still required to grant the bot read access to the repo. I thought this is not necessary when it runs as a GH action.

I think it would be nice to write up a small howto to help adoption of this t

[2020-01-09 23:05] ahmetb commented on #374
more like:

[2020-01-10 03:31] rajatjindal commented on #416
I've not enabled caching yet on that endpoint (that is indeed the endpoint which actually interacts with github, fetch all yamls, and change them to json objects for UI to consume) so its live data from repo.

for badges etc, i am using shields.io

my personal website i built using vue, so this plugin list is a very simple vue component in there.

I will keep it there for now, and decide on the fa

[2020-01-10 03:37] rajatjindal commented on #374
do you think this is useful? - https://github.com/rajatjindal/krew-release-bot#using-github-actions

[2020-01-10 03:44] rajatjindal commented on #374
I've removed webhook from main documentation, and moved it to a different file to avoid confusion. thanks :)

[2020-01-10 05:35] ahmetb commented on #374
Lets scrap the GH app if we can, and just have the Action. Then I look forward to simplifying the code as much as we can and deploy (maybe using Cloud Run Button).

[2020-01-10 05:52] rajatjindal commented on #374
ok, i'll remove the github webhook based implementation from the code. Looking for feedback on how we can simplify things further.

[2020-01-10 20:57] ahmetb commented on #374
cool, I opened several more issues in your repo to polish things up. Ideally this should be really easy to integrate. I think we've proven that.

[2020-01-12 11:42] rajatjindal commented on #374
Thanks for taking out time to open issues, i will try to address them quickly

[2020-01-13 17:35] ahmetb commented on #374
Since this is now maturing, we should look at onboarding more plugins to it. If we onboard several more plugins, it's likely we'll see some more feature requests.

In the meanwhile, @rajatjindal can you please make a small docs PR to krew developer guide to add a short section talking about "Automating plugin releases on krew-index" and link to your tool?

[2020-01-13 17:54] rajatjindal commented on #374
sure. will do that

[2020-01-13 23:08] ahmetb opened #430 "Move to Github Actions for CI"
Ref: https://github.com/kubernetes-sigs/krew/issues/451

Let's do the same for krew-index repo.

/priority P3
/good-first-issue

[2020-01-14 13:41] RubenBaez commented on #430
/assign

[2020-01-28 21:47] #430 closed

[2020-02-05 20:51] corneliusweig commented on #270
I think `krew-release-bot` has already shown its usefulness. It is already documented as a good way to update plugin manifests in our contribution guidelines. So it's time to close this issue.

Issues about release-bot should be opened here https://github.com/rajatjindal/krew-release-bot.

/close

[2020-02-05 20:51] #270 closed

[2020-02-07 05:30] rajatjindal commented on #374
we have added the documentation to the krew developer guide. closing this issue.

/close

[2020-02-07 05:30] #374 closed

[2020-02-08 16:49] evalsocket commented on #349
@ahmetb It looks good for beginner.  Would like to work on this. Can this be assigned to me ?

[2020-02-08 17:07] ahmetb commented on #349
Don’t work on this Please. This is for plugin authors to bring their own plugins.

[2020-02-12 20:11] ahmetb opened #496 "Upgrade failed; but receipt still written when symlinking fails"
/kind bug
/priority P3

Repro steps:

1. Install krew v0.3.3 normally
2. Build a Krew binary locally.
3. Replace ~/.krew/bin symlink of krew itself with the binary :D

     `mv out/bin/krew-darwin_amd64 $(which kubectl-krew)`

4. `kubectl krew update`  && `kubectl krew upgrade` to krew v0.3.4

5. Observe output:

[code]

6. `kubectl krew upgrade krew`  says **"can't upgrade, the newest version is

[2020-02-20 10:45] ishantanu opened #503 "Add kubectl-graph plugin to krew"
Hi,

As discussed in [awesome-kubectl-plugins sync issue](https://github.com/ishantanu/awesome-kubectl-plugins/issues/4), opening an issue to add [kubectl-graph](https://github.com/steveteuber/kubectl-graph) to krew index.

See the reference [awesome-kubectl-plugin repository's commit](https://github.com/ishantanu/awesome-kubectl-plugins/commit/0a937e58bff789b22d7e15bdb75f343c34fb0189) which added

[2020-02-20 12:11] corneliusweig commented on #503
Hey @ishantanu, thanks for bringing this up. I think it's great that you just opened this issue and didn't create a PR. This is exactly how it should work :+1:

@steveteuber what is your opinion about bringing `kubectl-graph` into krew? It doesn't take much, you just have to write a manifest and update that with your most recent version if you do a release. Would you be open to maintain this?

---

[2020-02-22 18:19] steveteuber commented on #503
Hi @corneliusweig,

I've created the repository exactly one week ago. And yes, I would like to make this plugin available via `krew`. But first I need to create a fully working `kubectl` plugin. When everything works as expected, then I create a first release which can be added to the krew-index.

Regarding the plugin name, the generic name is intended to be universal.
The task of the plugin is to

[2020-02-22 20:22] corneliusweig commented on #503
@steveteuber

That's great. Looking forward to your submission!

I see. For krew we strive to avoid generic names though. It is much easier for users to discover your plugin if the name is more descriptive. Let's discuss this when you submit your plugin. However be prepared that there's a high chance we will not accept the generic name. As far as I understand, `resource-graph` would be a better ch

[2020-02-23 02:20] ahmetb commented on #503
I am actually ok with “graph” name. You probably only can do a graph of “resource”s anyway so it’s sort of redundant. Similarly, “tree” could be “resource-tree” but to a good degree the implicit meaning can be easily understood.

[2020-02-25 10:06] ishantanu opened #510 "Unable to install some kubectl plugins via Krew"
Hi,

I am facing some issues while installing `deprecations` plugin via Krew. Here is the error:

[code]

I am not sure if this is the right place to open this issue but as per the error description, it looks like something's missing in https://github.com/kubernetes-sigs/krew-index/blob/master/plugins/deprecations.yaml.

I tried installing other plugins (for example, `whoami`) and there was no err

[2020-02-25 10:31] ishantanu opened #511 "Add kubectl-terminate to krew-index"
Hi 👋

Opening this issue to explore the possibility of adding [kubectl-terminate](https://github.com/xcoulon/kubectl-terminate) to the krew-index and distributing it via krew.

CC @corneliusweig @xcoulon

[2020-02-25 13:17] ishantanu commented on #510
NVM, figured out. Had to upgrade krew because it was having incorrect index URI:
`IndexURI        https://github.com/GoogleContainerTools/krew-index.git`

Upgraded krew and the `IndexURI` was changed to `https://github.com/kubernetes-sigs/krew-index.git`. I know https://github.com/GoogleContainerTools/krew-index.git gets redirected to https://github.com/kubernetes-sigs/krew-index.git but maybe kre

[2020-02-25 13:17] #510 closed

[2020-02-25 13:28] corneliusweig commented on #510
Hey @ishantanu, we made a field optional in the plugin manifest  which was required in old manifests. That's what caused the error.

In general, it's a good idea to run `krew upgrade` from time to time. Otherwise you will miss out on the latest and greatest features of your plugins -- not just `krew` ;)

[2020-02-25 13:34] corneliusweig commented on #511
Thanks @ishantanu for bringing this up!

---

That plugin looks really good. I've never had such an issue but I imagine how painful it can be if it comes up. So I'd love to see it added. @xcoulon what do you think? Would you care to submit a manifest for it? The guide to write a manifest is here: https://github.com/kubernetes-sigs/krew/blob/master/docs/DEVELOPER_GUIDE.md

[2020-02-25 19:22] ahmetb commented on #511
Something that removes finalizers, FINALLY! 😄

[2020-03-01 21:02] corneliusweig commented on #367
/remove-lifecycle stale
/good-first-issue
Having released our new krew version, this can now be taken up.

[2020-03-02 08:12] xcoulon commented on #511
hello @corneliusweig ! Sorry for the late response, I was AFK last week.
Sure, I also thought about submitting this plugin but @ishantanu was faster than me ;)
I'll take a look at the guide to write the manifest.

[2020-05-23 06:12] satishweb commented on #503
/remove-lifecycle stale

[2020-05-27 22:14] Eriner opened #624 "Fix unnecessary copies in example manifest"
@ahmetb [commented in #623 that the copy wildcards are unnecessary](https://github.com/kubernetes-sigs/krew-index/pull/623#discussion_r431362916)

In that case, the [tree](https://github.com/kubernetes-sigs/krew-index/blob/7118d2a66853b0e22c6f3bc3c788547041685cc3/plugins/tree.yaml#L24) manifest [example](https://krew.sigs.k8s.io/docs/developer-guide/example-manifests/) should be fixed.

[2020-05-28 23:13] ahmetb commented on #503
@steveteuber let us know when you make progress and you can integrate with release automation we have https://krew.sigs.k8s.io/docs/developer-guide/release/automating-updates/ to update this repo when you have a new version.
/hold

[2020-05-29 20:11] corneliusweig commented on #624
Generally, that's a good idea. However, it needs to be fixed in the right places. For example, the manifest you are referring to, is generated by a template from here https://github.com/ahmetb/kubectl-tree/blob/3f3a78548b3cc3ceb9d06a2d71bda3490db14bf1/.krew.yaml#L24.

[2020-05-29 20:13] ahmetb commented on #624
Yeah. We’ve started enforcing it at some point and a good number of the manifests are autogen’d by krew-release-bot.

Happy to accept PRs to kubectl-tree repo as that’s listed as an example in dev docs.

I wouldn’t bother with others, as we can address them later on when they need manual rev.

[2020-05-29 21:29] #624 closed

[2020-05-31 20:46] ahmetb commented on #511
pinging if you're still interested @xcoulon.

[2020-06-03 08:07] xcoulon commented on #511
ah yes, sorry, it slipped my mind. Thanks for the reminder, I'll try to give it a look soon!

[2020-06-07 19:07] #367 closed

[2020-06-07 19:23] corneliusweig commented on #349
I don't think there's much more we can do right now. Most of the issues are still open in the plugin repos.

[2020-06-07 19:23] #349 closed

[2020-06-08 05:25] #416 closed

[2020-07-03 12:19] xcoulon commented on #511
I still haven't had time to take a look at it, sorry 😬

[2020-07-09 10:11] ishantanu opened #692 "Add kubectl-interactive to krew"
Hi 👋

Opening this issue for adding [kubectl-interactive](https://github.com/similarweb/kubectl-interactive) to krew-index.

cc @kaplanelad @corneliusweig

[2020-07-09 17:04] ahmetb commented on #692
#687 already exists :) thanks.
/close

[2020-07-09 17:04] #692 closed

[2020-08-02 12:57] #511 closed

[2020-08-05 13:13] itaysk opened #743 "deprecate bad version"
Hi, I have recently released v2 of kubectl-neat which turned out to be a low quality release, there were bugs and oversights on my end. I have now fixed it, and unfortunately had to make another breaking change to the cli so I will have to release the fix as v3. If I release it as v3, will v2 still be visible to krew users? if so, is there a way to delete it or make it clear that they should not u

[2020-08-05 20:56] ahmetb commented on #743
/kind question

1. `krew install` always installs the latest available version
2. `krew upgrade` always upgrades to latest available version.
3. with (1) and (2) there's no way to install old versions a plugin with krew.
4. whether to upgrade a plugin or not depends entirely on the `version:` field in plugin manifest. if there's a greater version number available, plugin will be upgraded.
5. some

[2020-08-05 20:56] #743 closed

[2020-08-05 20:58] ahmetb commented on #503
@steveteuber pinging for interest. happy to accept this as a plugin.

[2020-08-12 13:08] artemsablin opened #755 "Add darwin to net-forward os list"
[Net-forward](https://github.com/antitree/krew-net-forward) is a shell script and it works on my mac.

Can we add darwin to its os list? Right now trying to install it and getting
[code]

unless I install it manually.

[2020-08-12 13:09] artemsablin commented on #755
@ antitree

[2020-08-12 13:09] artemsablin commented on #755
@antitree

[2020-08-12 13:20] antitree commented on #755
This makes sense. Let me test it out.

[2020-08-15 20:52] corneliusweig commented on #755
@artemsablin You could check this out yourself. Just enable the respective platform and run `krew install --no-update-index net-forward`.

[2020-08-15 20:56] corneliusweig commented on #755
That said, this is issue belongs into https://github.com/antitree/krew-net-forward :wink:, so I'll close this one.
/close

[2020-08-15 20:56] #755 closed

[2020-08-18 23:52] strigona-worksight opened #764 "Add cert-manager plugin"
https://cert-manager.io/docs/usage/kubectl-plugin/

Thanks in advance!

[2020-08-19 01:06] ahmetb commented on #764
We don't track requests for plugins to be added here. We also already have this plugin.

Please work with cert-manager maintainers and their repo if you need krew instructions documented there.

[2020-08-19 01:07] ahmetb commented on #764
/close

[2020-08-19 01:07] #764 closed

[2020-08-19 15:07] strigona-worksight commented on #764
Ah thank you - my apologies. I had checked here and didn't see it listed: https://github.com/kubernetes-sigs/krew-index/blob/master/plugins.md

[2020-08-21 08:23] nathforge opened #767 "Plugins missing from plugins.md"
There are 10 plugins missing from plugins.md:

 * cert-manager
 * emit-event
 * example
 * fuzzy
 * ipick
 * kyverno
 * operator
 * oulogin
 * split-yaml
 * starboard

Some plugins were manually added to markdown as part of [their pull requests](https://github.com/kubernetes-sigs/krew-index/commits/master/plugins.md), but I couldn't find documentation to advise of this.

plugins.md mentions `gener

[2020-08-25 06:24] steveteuber commented on #503
@ishantanu this issue can be closed. The plugin is now listed in the `krew-index`:

[code]

[2020-08-25 06:35] ahmetb commented on #503
/close

[2020-08-25 06:35] #503 closed

[2020-08-25 13:03] antitree opened #776 "Debug plugin no longer useful"
The "Debug" plugin creates an ephemeral container which at the time of writing was an feature not yet integrated into kubectl. Today kubectl's `alpha debug` provides the same features along with additional support for the `--target` option which this tool does not.

Should this be removed to remove the risk of confusion? Alternatively, maybe contact the developer to replace this with a warning mes

[2020-08-25 15:13] #776 closed

[2020-08-31 19:52] nomeelnoj opened #789 "access-matrix binary does not install for mac"
Trying to install access-matrix v0.4.5 fails to pull the binary.  I checked the source repo https://github.com/corneliusweig/rakkess and the 0.4.5 release for darwin hosts an archive that does not contain the binary.

[2020-08-31 21:00] ahmetb commented on #789
Please follow up in plugin's repo.
/close

[2020-08-31 21:00] #789 closed

[2020-09-15 18:45] marccampbell opened #816 "Include recent stats on the stats dashboard for all plugins"
The stats site is super interesting and helpful, thanks for creating and sharing this data publicly.

Is it be possible to include a graph and stats for the plugin ecosystem that show trends and recency?  Currently, all I can find is total download counts, but I think it would be useful to include a "number of downloads in the past (week/month)" column or way to sort the ecosystem this way too?

[2020-09-15 20:16] ahmetb commented on #816
Ideally if there's a GitHub app that tracks that over time, it would be the best.

We track historical download stats for the Krew itself. I am not sure if the approach would scale well to hundreds of repos (given underlying repos change names etc).

Let's discuss.

[2020-09-20 11:53] corneliusweig commented on #816
If I understand correctly, you are looking for a moving average similar to what brew does. The data for that should be there, it's only a question how easy it is to make the respective graphs.

[2020-12-08 23:15] ahmetb opened #949 "Remove 'debug' plugin as builtin command graduates to beta in kubectl 1.20.0"
`debug` is now a beta command in kubectl 1.20.0 giving the plugin in krew no option to be invoked from this point forward. We should probably delete it soon.

/cc @verb

[2020-12-08 23:18] ahmetb opened #950 "Remove certain node debugging plugins per 1.20 "debug" command"
kubectl 1.20.0 introduces beta "kubectl debug" command that can run containers on the Node for debugging e.g.

    kubectl debug node/mynode -it --image=busybox

Certain plugins we have in krew-index are now potentially obsolete. Potentially:

- node-admin
- node-shell
- pod-shell (more like #949)
- debug-shell
- cssh
- ssh-jump

We should probably do a scan of this and see if we need to remove an

[2020-12-09 10:15] verb commented on #949
@ahmet I was going to ask your advice on this. I'd like to retire this plugin, but a handful of users I've talked to are "stuck" on old versions of kubectl (e.g. because they rely on kubectl bundled with gcloud or the like).

It seems like the "two version rule" might be a good rule of thumb, but the 'debug' plugin only ever supported adding ephemeral containers, which is an alpha feature, albeit

[2020-12-09 10:16] verb commented on #950
@ahmetb Please let me know if you come across functionality that might be good to add to the `kubectl debug` built-in.

[2020-12-09 19:21] papuneftali commented on #233
Duplicate of #

[2020-12-09 19:36] ahmetb commented on #233
@papuneftali you are warned, again.

[2020-12-09 19:38] ahmetb commented on #949
Agreed. It’s reasonable.

[2020-12-12 21:36] corneliusweig commented on #949
Let's add a notice / caveat in the manifest that the `debug` plugin will not work for kubectl >=1.20. Then it should be fine to keep it for some time.

[2020-12-21 16:34] corneliusweig commented on #816
@marccampbell are you still interested in this functionality? Otherwise we should close this issue.

[2020-12-28 18:03] marccampbell commented on #816
@corneliusweig I do still like this and think it would be useful. If it's something I can contribute and agreeable, I'm happy to take this issue.

[2021-01-08 13:10] tegioz opened #972 "Krew index in Artifact Hub"
Hi 👋

We've just added support for Krew index repositories to Artifact Hub. This will allow publishers listing the kubectl plugins available in their repositories in Artifact Hub.

The default Krew index repository [has been added](https://artifacthub.io/packages/search?page=1&repo=krew-index) as an example. At the moment the publisher is the Artifact Hub organization, but it would be great if you

[2021-01-13 22:39] chriskim06 commented on #972
Hey @tegioz, thanks for filing this issue! I haven't had time yet to look into this but I'll try to look through the Artifact Hub docs you've linked soon to get a better understanding.

[2021-01-23 18:19] chriskim06 commented on #972
@tegioz sorry for taking so long to get to this! This seems relatively straightforward but I have a couple concerns. If we wanted to use the Kubernetes organization (and I'm not sure we would, this is a kubernetes-sigs project) then I'd need to be added to that org right? If we were to use kubernetes-sigs as a new org I think we'd need to get some kind of authorization maybe from the larger commun

[2021-01-24 06:56] ahmetb commented on #972
So we already have plugin discovery at our website, but I'm not against Artifact Hub listing kubectl plugins from Krew on its site either.

I might however be against us maintainers getting involved in maintaining our presence on Artifact Hub (as it's one more responsibility, and we already have a decent amount of it). It clearly seems that the data flows there without the need for maintainers’ in

[2021-01-24 08:57] tegioz commented on #972
Hi @chriskim06,

No worries at all, I appreciate you getting involved on this 🙂

Yes, if it already exists, you'd need to be added to it or ask anyone on it to claim the ownership (you could list them as owners in the `artifacthub-repo.yaml` file). In addition to claiming a repository's ownership, you can also transfer it to another organization you belong to or your own user account at any time.

[2021-01-24 22:55] corneliusweig commented on #972
Hey @tegioz, thanks for setting this up, this looks great!
As far as I'm concerned, I see the artifacthub.io plugin mirror as a community contribution. It's nice to have it, but not essential for krew. Also, I don't see trust issues if the AH entries are not associated with `kubernetes-sigs` or a `krew` org, because all they do is giving CLI snippets to feed to krew. So I'm very comfortable with t

[2021-01-25 07:24] tegioz commented on #972
Hi @corneliusweig,

Cool, thanks 🙂

When the repository is not the default `krew` index, the installation instructions also show the user how to add the repository first. This would be an example currently available on artifacthub.io:

<img width="2047" alt="Screen Shot 2021-01-25 at 08 04 52" src="https://user-images.githubusercontent.com/1213902/105672096-1f8fbc00-5ee4-11eb-8850-fe64092cd091.png

[2021-01-26 00:03] corneliusweig commented on #972
@tegioz ah.. you are right, you are already taking all the fields from manifests. Although you could fit example also show chips with the supported platforms in your UI (out did I again overlook something?)

Anyway, although we are unlikely to add these annotations to existing manifests, we could think of including the possibility of enhancing the AH appearance with metadata tags in our documentat

[2021-01-26 07:06] tegioz commented on #972
Yes, displaying the supported platforms would be a nice addition. We'll gladly add support for any extra piece of information available in your manifests that fits well in Artifact Hub 🙂

[2021-01-26 21:44] ahmetb commented on #972
I've explained this above, I think it probably shouldn't be yet another thing plugin authors need to worry about. If they discover Artifact Hub, they can refer to their docs on how to improve their page by adding annotations in our repo. (We can also link to docs on Artifact Hub, but not too extensively.)

It's critical for us to make it as easy as possible to distribute plugins on Krew, so I woul

[2021-01-27 07:28] tegioz commented on #972
Thanks @ahmetb. When I said it'd be a nice addition I meant to Artifact Hub. I saw the platforms already available in the manifest, but my point was that if at some point you add something extra because it's useful to krew itself, or that you think the plugins view in Artifact Hub can be improved in any way, we'll be happy to work on it 🙂.

The main problem I see right now is that the description

[2021-01-27 15:04] chriskim06 commented on #972
Ok so I reached out in the artifact-hub slack channel in the cncf slack to find out who owns the `kubernetes-sigs` org in artifact hub. Looping in @scottrigby, would you mind adding me to that artifact hub org? My username is the same as it is here, `chriskim06`.

[2021-01-27 15:40] scottrigby commented on #972
@chriskim06 I added your user to that org on artifact hub 👍 You'll just need to accept the invite. From that point on you can add others as needed (I would just do my best to take the same precautions and transparency like in this issue). In future, as membership grows, we could introduce artifact hub [fine grained permissions](https://artifacthub.io/docs/authorization), but for now it's flat. Tha

[2021-02-04 15:46] tegioz commented on #972
This is ready @corneliusweig, we'll deploy it later on today.

<img width="328" alt="Screen Shot 2021-02-04 at 16 29 07" src="https://user-images.githubusercontent.com/1213902/106917337-74afa700-6708-11eb-8922-b564de5ef0b3.png">

[2021-02-05 10:50] tegioz commented on #972
We are now also displaying the manifest yaml in the package view.

<img width="2085" alt="Screen Shot 2021-02-05 at 11 49 35" src="https://user-images.githubusercontent.com/1213902/107024378-42ee1d00-67a8-11eb-9dcf-ba99fd313aef.png">

[2021-02-15 15:33] rishabh96b opened #1033 "Bump KUDO to 0.18.2"
The KUDO version `0.18.2` is already out and krew hosts the latest one as `0.17.2`.

[2021-02-15 16:48] ahmetb commented on #1033
No need to open issues for these.
/close

[2021-02-15 16:48] #1033 closed

[2021-02-26 19:17] #816 closed

[2021-03-13 22:02] corneliusweig commented on #950
/remove-lifecycle stale

[2021-03-31 08:24] Stefanqn opened #1164 "Installing krew - failed to list indexes"
[code]

[code]

[2021-03-31 12:21] denhamparry opened #1165 "kubectl-kubesec uri update"
When installing kubectl-kubesec, the homepage directs towards the repo https://github.com/stefanprodan/kubectl-kubesec and then get forwarded to https://github.com/controlplaneio/kubectl-kubesec.

To avoid confusion, recommend changing the homepage/uri to https://github.com/controlplaneio/kubectl-kubesec for kubectl-kubesec.

[2021-03-31 16:18] #1164 closed

[2021-03-31 16:18] Stefanqn commented on #1164
sorry, wrong Repo. Reopend at https://github.com/kubernetes-sigs/krew/issues/706

[2021-04-02 17:51] ahmetb commented on #1165
opening #1166 is sufficient.
/close

[2021-04-02 17:51] #1165 closed

[2021-04-16 12:48] verb commented on #949
/remove-lifecycle rotten

[2021-04-16 16:28] #949 closed

[2021-04-28 12:41] khaledE opened #1241 "Can't install kconfig from krew"
Hello,

I'm trying to install kconfig via krew but I keep getting the following :

[code]

for reference I get this when I run krew version

[code]

Any ideas ?

Thanks
K

[2021-04-28 16:53] ahmetb commented on #1241
I don't think we have a plugin named as that. https://krew.sigs.k8s.io/plugins
/close

[2021-04-28 16:53] #1241 closed

[2021-04-28 17:30] khaledE commented on #1241
ahhh it's konfig ... sorry my bad!

[2021-05-05 21:51] ahmetb commented on #233
OK it seems like this is working pretty well now.
Time to call it resolved.
/close
/hold cancel

[2021-05-05 21:51] #233 closed

[2021-06-13 21:19] corneliusweig commented on #950
/remove-lifecycle stale
/lifecycle freeze

[2021-07-05 11:58] #972 closed

[2021-07-15 17:30] utkuozdemir opened #1403 "Question: Should I re-submit my plugin (pv-migrate)?"
Hi,

I have submitted the tool I have built about 2y ago: https://github.com/kubernetes-sigs/krew-index/pull/89

It was rejected as a one-off plugin at that time.

However the tool gained some interest over time, and I am actively maintaining it: https://github.com/utkuozdemir/pv-migrate

There is an open-request to add it to krew: https://github.com/utkuozdemir/pv-migrate/issues/51

I was wonderi

[2021-07-18 15:52] corneliusweig commented on #1403
Hi!

I think we can re-evaluate. When users install this plugin, I think the chances are pretty high that they will uninstall it right after doing the migration. So this plugin really looks one-off. However, I think it's fine to have those plugins in krew, because this is often the first address to look for help.

/cc @ahmetb WDYT?

[2021-08-20 10:41] ytsarev commented on #511
any chance it will get into the index? It is very useful plugin

[2021-08-23 15:12] xcoulon commented on #511
hello @ytsarev ! thanks for the reminder and sorry for not taking care of this request earlier, I've been pretty busy but I will try to address it soon.

[2021-08-31 00:22] terryzwt opened #1495 "keep ingress-nginx updated"
https://github.com/kubernetes/ingress-nginx/releases

[2021-08-31 02:37] ahmetb commented on #1495
This is something the maintainers of that repo need to do. So closing the issue here.

You can tell the developers this message:

/close

[2021-08-31 02:37] #1495 closed

[2021-09-10 20:27] ahmetb opened #1533 "GitHub workflow is sometimes not running to test PRs"
#1531 and there's at least one more example I cannot find where PRs are getting merged without Github test action running.

This allows "straightforward" PRs to be merged with wrong checksums (i.e. tests are not run, and other checks the tests do).

I am planning to stop the auto-approver for the time being.
/cc @corneliusweig
/cc @chriskim06
/kind flake
/priority critical-urgent

[2021-10-16 15:45] corneliusweig opened #1641 "`advise-psp` superseded by `advise-policy`"
https://github.com/sysdiglabs/kube-psp-advisor and https://github.com/sysdiglabs/kube-policy-advisor occupy a very similar niche. This issue is to determine if one of the plugins should be superseded by the other.

/cc @darryk10

[2021-10-21 19:07] patrickdappollonio opened #1669 "Question: new plugin and conflicting plugin name"
Hello Krew maintainers!

Recently I launched [`kubectl-split`](https://github.com/patrickdappollonio/kubectl-split/) and it was well-received. I got the inspiration after trying to look for a tool that can do that and finding [@brendanjryan's `k8split`](https://github.com/brendanjryan/k8split). Unfortunately, the inability of being able to change the file name for its output was quite limiting. Th

[2021-10-22 00:51] chriskim06 commented on #1669
I'm personally pro-opening the index to plugins that have similar functionality to existing plugins for that reason you mentioned. I still think it's a good idea to reject plugin submissions that are fully covered by existing ones.

I think the tricky part would be defining what constitutes new/different functionality and balancing that with potentially opening ourselves up to getting a bunch more

[2021-10-24 01:22] patrickdappollonio commented on #1669
Appreciate the name ideas @ahmetb! I think `extract-yaml` might work just feel a little odd. It could be misunderstood as "send me a Markdown file that might contain YAML and the tool will work with it". `deconstruct` might be better but still feel long to type.

After some folks saw this issue, they reached out to me, two made a great proposal for a name which I think it's quite close in meaning

[2021-11-10 23:04] #950 closed

[2021-11-22 18:26] ahmetb commented on #1403
Sorry for the delay here, yeah feel free to re-submit!

[2021-12-27 04:59] ahmetb commented on #1669
/close

[2021-12-27 05:00] #1669 closed

[2022-01-25 00:23] ahmetb commented on #1533
Closing as I did not see any other occurrences.
/close

[2022-01-25 00:23] #1533 closed

[2022-02-07 11:19] hantmac opened #1977 "[Question] When I add .krew.yaml to my project the github action run error"
Hi, sorry to bother and I has a problem when adding the `.krew.yaml` to [this krew plugin](https://github.com/openkruise/kruise-tools) ,the github action run failed ,and I have add this plugin to krew index in [this pr](https://github.com/kubernetes-sigs/krew-index/pull/1809).
The error is as flows:
![image](https://user-images.githubusercontent.com/7600925/152778499-579eb54d-624f-4f29-8625-4c3b54

[2022-02-08 13:41] rajatjindal commented on #1977
`upload-sha256sums-plugin:` action does not have a checkout step, so it most likely dont have access to .krew file there.

just curious, is there any specific reason why you have implemented all steps of compiling/uploading etc as different steps instead of using something like `go-releaser` which takes care of most of these steps automatically?

[2022-02-09 09:27] hantmac commented on #1977
Thank you very much, I forget to have a checkout step. But when I add the checkout step to release.yaml, I got another error.
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/7600925/153165325-23b04360-926c-4361-8927-ef543bd07afd.png">

The .krew.yaml file as flows:
[code]

[2022-02-09 17:09] rajatjindal commented on #1977
https://rajatjindal.com/tools/krew-release-bot-helper - you can use this to generate the template file.

just enter "kruise" in input text and click generate.

also, i am still curious as to why you have all steps separately instead of using  something like `go-releaser`. I am asking question again just to make sure its not missed in other discussion.

if it was a conscious decision on your side,

[2022-03-07 22:22] OGtrilliams opened #2068 "[question] Download metrics for plugins installed using Krew"
I apologize if this is documented somewhere that I haven't found yet, but is there any way to access download numbers for specific plugins downloaded using `kubectl krew`? I'm specifically looking for download numbers for `preflight` & `support-bundle`. Thanks to anyone who can help!

[2022-03-07 22:37] chriskim06 commented on #2068
hi! we have some statistics [here](https://datastudio.google.com/reporting/f74370a0-adcf-4cec-b7bd-a58c638948f5/page/Ufl7). some detail on those stats are in [the docs](https://krew.sigs.k8s.io/docs/developer-guide/plugin-stats/). hope this helps!

[2022-03-08 05:18] ahmetb commented on #2068
I noticed the download numbers for these plugins suddenly dropped earlier this year, there's a chance we might be looking at last N tags (or you deleted your old tags or something like that).

/close
/kind support

[2022-03-08 05:19] #2068 closed

[2022-04-18 14:50] rumstead opened #2190 "[Question] Docs say use semver but linter enforces"

[2022-04-18 14:57] rumstead opened #2191 "[Question] Docs say use semver but linter enforces a 'v' to be prefixed."
https://semver.org/#is-v123-a-semantic-version

https://github.com/kubernetes-sigs/krew/blob/eda76d9eb403f290d3f25b7b2930b51f170a1312/internal/installation/semver/version.go#L45

Why is 'v' forced to be present, while stating we should use semver versioning?

[2022-04-18 15:43] #2190 closed

[2022-04-18 15:45] ahmetb commented on #2191
This is a bit of a bike shedding discussion. The ecosystem already broadly adopts the v prefix. We can remove there restriction in the future. I doubt we are tied to it.

[2022-04-18 15:50] rumstead commented on #2191
I agree. At the minimum, it would be helpful to note in the docs that "v" is required.

The docs say "# 'version' is a valid semantic version string (see semver.org)" and then semver.org proceeds to say that "v" is not valid semantic versioning.

https://krew.sigs.k8s.io/docs/developer-guide/plugin-manifest/

[2022-04-18 19:24] ahmetb commented on #2191
Ack, feel free to send a patch editing the comment on the inline yaml.
/good-first-issue
/kind docs

[2022-04-18 21:16] rumstead commented on #2191
@ahmetb done

[2022-04-19 15:58] rumstead commented on #1977
I got the same error as above. If you change the name of your plugin in the `krew.yaml` to one that exists, you won't see that error. I assumed it was because my plugin was "onboarded" yet.

[2022-04-19 20:03] rumstead commented on #2191
https://github.com/kubernetes-sigs/krew/pull/766

[2022-04-19 20:03] #2191 closed

[2022-04-27 10:32] hantmac commented on #1977
The same error as https://github.com/rajatjindal/krew-release-bot/issues/49, my .krew.yaml also has wrong format, I fix this in https://github.com/openkruise/kruise-tools/pull/60

[2022-04-27 10:32] #1977 closed

[2022-06-05 05:10] nikolay opened #2318 "Bad reliably checksum"
[code]

[2022-06-05 05:16] ahmetb commented on #2318
Please follow up with the plugin maintainers. There's a chance they may have retagged a release, or you may have an intercepting proxy tampering with the responses. If other plugins install fine, this is probably not the case.
/kind support
/close

[2022-06-05 05:16] #2318 closed

[2022-10-26 08:23] manuel-koch opened #2704 "Add arm64 binary of tail plugin"
`tail` plugin lacks arm64 support. A binary was provided in `ktail` repo: https://github.com/boz/kail/issues/64#issuecomment-1277275280.

[2022-10-26 16:47] ahmetb commented on #2704
Feel free to make a pull request. We expect plugin maintainers to maintain their own manifests.
This is not the repo to track per-plugin requests.
/close

[2022-10-26 16:47] #2704 closed

[2022-11-25 15:23] gabrimonfa opened #2768 "Please update score plugin to version 1.14"
Please update score plugin to version 1.14, same URI.
Thank you.

[2022-11-25 16:52] ahmetb commented on #2768
Please talk to the plugin owner in their repo.
/close

[2022-11-25 16:52] #2768 closed